
/* Контейнер для кнопок */
.buttoncontainer {
    display: flex; /* Используем flexbox для размещения кнопок */
    flex-wrap: wrap; /* Позволяет кнопкам переноситься в несколько колонок */
    justify-content: center; /* Центрирует кнопки по горизонтали */
    gap: 20px; /* Задает промежутки между кнопками */
}