/* Убедитесь, что html и body занимают 100% высоты экрана */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/public/Images/image.png'); /* Путь к вашей картинке */
    background-size: cover; /* Масштабируем фон по размеру экрана */
    background-position: center; /* Центрируем фон */
    background-repeat: no-repeat; /* Отключаем повтор */
    background-attachment: fixed; /* Фиксируем фон при прокрутке */
}

.root-container { /* Основной контейнер для всего содержимого */
    min-height: 100vh; /* Высота не меньше высоты экрана */
    display: flex;
    flex-direction: column;
}
