.page-wrapper {
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  min-height: 10vh; /* Занимает всю высоту viewport */
}

.container {
  display: flex;
  flex-direction: column; /* Устанавливает вертикальное расположение элементов */
  
}

.flex-container {
  display: flex;
  align-items: flex-start; /* Выравнивание по вертикали */
}



/* Блок с инструкциями */
.instruction-box2 {
  background-color: #dfdddd;
  padding: 5px; /* Это ваш внутренний отступ */
  border-radius: 10px;
  border: 1px solid #dfdddd;
  background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон */
  border: 1px solid rgba(255, 255, 255, 0.15); /* Полупрозрачная обводка */
  color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: fit-content; /* или min-content в зависимости от нужного поведения */
  margin-bottom: 20px; /* Добавляет отступ снизу от блоков */
  margin-top: 50px;
}